In [1]:
# Array and Dataframe processing:
import pandas as pd
import numpy as np

## importing 'mysql.connector' 
import mysql.connector 
import config

In [2]:
df = pd.read_csv("../Data/Orders.csv")
df.head()

,order_date,order_id,customer_id,source_medium,net_revenue,discount_codes,payment_gateway,order_type
0,2020-01-02,4015485354160,5.695676e+12,paid_fb / cpc,29.99,NaN,paypal,non_subscription
1,2020-01-02,4015490990256,5.695685e+12,paid_fb / cpc,49.99,NaN,shopify_payments,non_subscription
2,2020-01-02,4015495643312,5.695681e+12,NaN,89.99,NaN,shopify_payments,non_subscription
3,2020-01-02,4015519432880,5.695705e+12,NaN,89.99,NaN,shopify_payments,non_subscription
4,2020-01-02,4015540863152,5.041348e+12,ea - engaged 120 days / email,27.00,CRUNCH10,shopify_payments,non_subscription

In [3]:
df.describe()

           order_id   customer_id    net_revenue
count  1.000000e+05  9.998700e+04  100000.000000
mean   4.350368e+12  5.714754e+12      52.206554
std    2.377809e+11  7.833936e+11      22.877869
min    4.015485e+12  2.094173e+12       0.000000
25%    4.124343e+12  5.733077e+12      44.990000
50%    4.332531e+12  5.874109e+12      49.990000
75%    4.549655e+12  6.099094e+12      49.990000
max    4.789964e+12  6.492835e+12     499.900000